.cart-item {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;

    .cart-item-image {
    flex: 0 0 150px; // Fixed size for image container
    img {
        width: 100%;
        height: auto;
    }
    }

    .cart-item-details {
    flex-grow: 1;
    padding-left: 20px;

    .cart-item-category {
        font-size: 0.85rem;
        color: #777;
    }

    .cart-item-title {
        font-size: 1.1rem;
        font-weight: 500;
        margin: 5px 0;
    }

    .cart-item-price {
        font-size: 1.1rem;
        color: #333;
    }

    .cart-item-quantity {
        display: flex;
        align-items: center;
        margin: 10px 0;

        button {
        background-color: #f0f0f0;
        border: none;
        padding: 5px 10px;
        margin: 0 5px;
        cursor: pointer;
        }

        input {
        text-align: center;
        border: 1px solid #ddd;
        padding: 5px 10px;
        width: 40px;
        }
    }

    .cart-item-total {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .cart-item-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        .remove-item {
        background: none;
        border: none;
        cursor: pointer;
        }

        .checkout {
        background-color: #4CAF50;
        border: none;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
        }
    }
    }
}